<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA7m9uJ5TgCsRbncSG9hZgopXKvvbbl9ho</string>
	<key>GCM_SENDER_ID</key>
	<string>390581366437</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ebayan.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>ebayan-4ebc1</string>
	<key>STORAGE_BUCKET</key>
	<string>ebayan-4ebc1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:390581366437:ios:9a54103b31822da761674c</string>
</dict>
</plist>